[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
soundfile = "*"
pandas = "*"
pydub = "*"
pandastable = "*"
sounddevice = "*"
psychopy = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
